@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Ubuntu:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro", "Outfit";
}
/* App */
.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #fafafa;
}

/* Sidebar */
.Sidebar {
  background-color: #9caf88;
  width: 300px;
  min-width: 250px;
  height: 100%;
}

/* Main */
.Main {
  background-color: #fafafa;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: scroll;
}

/* Logo */
.Logo {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.Logo .logotext {
  color: #fafafa;
  font-family: "Outfit";
  font-weight: 600;
  font-size: 34px;
}

.Logo img {
  width: auto;
  height: 50px;
  object-fit: contain;
}

/* User */
.User {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.User .profilepicture {
  width: 60px;
  height: 60px;
  margin-right: 15px; /* space between pfp and user info */
}

.User .profilepicture img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: contain; /* This keeps the aspect ratio of the image */
}

.User .info p {
  color: #fafafa;
  font-weight: bold;
  font-size: 1.2rem;
}

.User .info a {
  font-size: 0.8rem;
  font-weight: 500;
  color: #fafafa;
  text-decoration: none;
}

.User .info a:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Modal */
.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.Modal .container {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
  background: #fafafa;
  color: #303030;
  z-index: 1001;
}

/* AddNewTodo */
.AddNewTodo .button {
  padding: 1rem;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
}

.AddNewTodo .button Button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #a38a6d;
  font-size: 1rem;
  color: #fafafa;
}

.AddNewTodo .button Button:hover {
  filter: brightness(1.1);
  cursor: pointer;
  transition: all 300ms ease;
}

/* AddNewTodo form */
.AddNewTodo .heading {
  padding-bottom: 10px;
  padding-left: 5px;
  font-size: 30px;
  font-weight: 650;
}

.AddNewTodo form {
  padding: 1.5rem 1.5rem calc(1.5rem + 50px) 1.5rem;
  width: 500px;
  background-color: #fafafa;
  border-radius: 10px;
}

.AddNewTodo form .text input {
  padding: 1rem;
  width: 100%;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 4px;
}

.AddNewTodo form .text input:focus {
  outline: none;
  border-bottom: 1px solid #9caf88;
}

.AddNewTodo form .remind {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.AddNewTodo form p {
  margin-left: 10px;
}

.AddNewTodo form .title {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.AddNewTodo form .pick-day {
  padding: 1.5rem 1.5rem 0 1.5rem;
}

.AddNewTodo form .pick-time {
  padding: 1.5rem;
}

.AddNewTodo form .pick-label {
  padding: 0.5rem;
}

.AddNewTodo form .pick-label .labels {
  display: flex;
  padding: 1rem 1rem 0 1rem;
  flex-wrap: wrap;
}

.AddNewTodo form .pick-label .labels .label {
  border: 2px solid #9caf88;
  color: #303030;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  margin: 5px;
  cursor: pointer;
}

.AddNewTodo form .pick-label .labels .active {
  background-color: #9caf88;
  color: #fafafa;
}

.AddNewTodo form .cancel {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.AddNewTodo form .confirm {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.AddNewTodo form .confirm Button {
  width: 100%;
  height: 50px;
  background-color: #9caf88;
  color: #fafafa;
  font-size: 1.1rem;
  border: none;
  border-radius: 0 0 4px 4px;
  cursor: pointer;
}

/* Calendar */
.Calendar {
  padding: 1rem;
  color: #fafafa;
}

.Calendar .header {
  display: flex;
  align-items: center;
}

.Calendar .header .title {
  display: flex;
  align-self: center;
  flex: 1;
}

.Calendar .header .title p {
  margin-left: 10px;
  font-size: 1.1rem;
  font-weight: bold;
}

.Calendar .header .buttons span {
  border-radius: 50%;
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Calendar .header .buttons span:hover {
  color: #a38a6d;
  transition: all 300ms ease-in-out;
}

.Calendar .items {
  padding: 0.5rem;
}

.Calendar .items .item {
  padding: 0.25rem;
  margin: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.Calendar .items .item:hover {
  background-color: #a38a6d;
  transition: all 300ms ease-in-out;
}

/* Labels */
.Labels {
  padding: 1rem;
  color: #fafafa;
}

.Labels .header {
  display: flex;
  align-items: center;
}

.Labels .header .title {
  display: flex;
  align-items: center;
  flex: 1;
}

.Labels .header .title p {
  margin-left: 10px;
  font-size: 1.1rem;
  font-weight: bold;
}

.Labels .header .buttons {
  display: flex;
  align-items: center;
}

.Labels .header .buttons span.edit {
  margin-right: 5px;
}

.Labels .header .buttons span {
  border-radius: 50%;
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Labels .header .buttons span:hover {
  color: #a38a6d;
  transition: all 300ms ease-in-out;
}

.Labels .items {
  padding: 0.5rem;
}

/* Label */
.Label {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.25rem;
  margin: 5px;
  font-size: 1rem;
}

.Label:hover {
  background-color: #a38a6d;
  transition: all 300ms ease-in-out;
}

.Label .name {
  cursor: pointer;
  word-break: break-all;
}

.Label .buttons {
  display: flex;
  align-items: center;
}

.Label .buttons .total-tasks {
  position: absolute;
  right: 0;
  background: #a38a6d;
  width: 25px;
  height: 25px;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.Label .buttons .edit-delete {
  position: absolute;
  right: 0;
  display: flex;
}

.Label .buttons .edit-delete span {
  border-radius: 50%;
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 300ms ease-in-out;
  margin-right: 1px;
}

.Label .buttons .edit-delete span.edit:hover {
  background-color: #a38a6d;
}

.Label .buttons .edit-delete span.delete:hover {
  background-color: #ffacac;
}

/* AddNewLabel */
.AddNewLabel .add-button span {
  margin-right: 5px;
}

/* LabelForm */
.LabelForm {
  background-color: #fafafa;
  padding: 1.5rem;
  border-radius: 4px;
  position: relative;
  padding-bottom: 55px;
  width: 400px;
}

.LabelForm .header {
  margin-left: 5px;
  font-size: 1.5rem;
  font-weight: 650;
}

.LabelForm input {
  padding: 1rem;
  width: 100%;
  height: 40px;
  margin: 15px 0;
  border: none;
  font-size: 1.2rem;
}

.LabelForm input:focus {
  outline: none;
  border-bottom: 1px solid #9caf88;
}

.LabelForm button {
  position: absolute;
  bottom: 0;
  border: none;
  height: 50px;
  width: 50%;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  color: #fafafa;
  transition: filer 300ms ease-in-out;
}

.LabelForm button.cancel {
  left: 0;
  background-color: #bebebe;
}

.LabelForm button.confirm {
  right: 0;
  background-color: #a38a6d;
}

.LabelForm button:hover {
  filter: brightness(1.1);
  cursor: pointer;
}

/* Todos */
.Todos {
  width: 450px;
  min-height: 50%;
  background-color: white;
  position: absolute;
  top: 60px;
  left: 60px;

  border-radius: 10px;
  box-shadow: 20px 20px 60px #cacaca, -20px -20px 60px #f6f6f6;

  padding: 0 0.5rem 0.5rem 0.5rem;
  color: #303030;
}

.Todos .selected-label {
  margin: 2rem 2rem -1rem 2rem;
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: 800;
  padding-bottom: 10px; /* space betw label and border bottom */
  border-bottom: 2px solid #9caf88;
}

.Todos .todos {
  overflow-y: auto;
  margin: 2rem;
}

/* Todo */
.Todo {
  padding: 0.5rem;
  color: #303030;
}

.Todo .todo-container {
  display: flex;
  align-items: center;
}

.Todo .todo-container span {
  cursor: pointer;
}

.Todo .todo-container .text {
  position: relative;
  flex: 1;
  margin: 0 10px;
  cursor: pointer;
}

.Todo .todo-container .text span {
  font-size: 0.8rem;
  color: #bebebe;
}

.Todo .todo-container .text .line {
  height: 1px;
  background-color: #bebebe;
  position: absolute;
  top: 25%;
  width: 0;
  transition: width 250ms ease-in-out;
}

.Todo .todo-container .text .line-through {
  width: 100%;
}

.Todo .todo-container .add-to-next-day {
  margin-right: 10px;
}

/* EditToDo */
.EditToDo {
  width: 450px;
  min-height: 50%;
  background-color: white;
  position: absolute;
  top: 60px;
  left: calc(60px + 450px + 60px);

  border-radius: 10px;
  box-shadow: 20px 20px 60px #cacaca, -20px -20px 60px #f6f6f6;

  padding: 0 0.5rem 0.5rem 0.5rem;
}

.EditToDo .header {
  margin: 2rem 2rem -1rem 2rem;
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: 800;
  padding-bottom: 10px; /* space betw label and border bottom */
  border-bottom: 2px solid #a38a6d;
}

/* TodoForm */
.EditToDo .TodoForm {
  padding: 2rem 2rem calc(2rem + 50px) 2rem;
  width: 500px;
  border-radius: 10px;
  width: inherit;
}

.EditToDo .TodoForm .text input {
  padding: 1rem;
  width: 100%;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 4px;
  border: 1.5px solid #a38a6d;
}

.EditToDo .TodoForm .text input:focus {
  outline: none;
  border: 2px solid #9caf88;
}

.EditToDo .TodoForm .remind {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.EditToDo .TodoForm p {
  margin-left: 10px;
}

.EditToDo .TodoForm .title {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.EditToDo .TodoForm .pick-day {
  padding: 1.5rem 1.5rem 0 1.5rem;
}

.EditToDo .TodoForm .pick-time {
  padding: 1.5rem;
}

.EditToDo .TodoForm .pick-label {
  padding: 0.5rem;
}

.EditToDo .TodoForm .pick-label .labels {
  display: flex;
  padding: 1rem 1rem 0 1rem;
  flex-wrap: wrap;
}

.EditToDo .TodoForm .pick-label .labels .label {
  border: 2px solid #9caf88;
  color: #303030;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  margin: 5px;
  cursor: pointer;
}

.EditToDo .TodoForm .pick-label .labels .active {
  background-color: #9caf88;
  color: #fafafa;
}

/* Next 7 Days */
.Next7Days .day {
  margin: 5px;
  display: flex;
}

.Next7Days .day .name {
  font-weight: bold;
  font-size: 1rem;
}

.Next7Days .day .total-tasks {
  margin-left: 10px;
}
